# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List commonly used libraries
* List Data Science tools
* List Data science environments

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Keras
4. TensorFlow
5. PyTorch

|Data Science Tools|
--------------------
|Jupyter Notebook|
|SAS|
|Tableau|
|R|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
round (200 / 60, 5)

3.33333

## Author
Zahid Patel